*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background: linear-gradient(#48649f,#385998,#385998);
    height:15vh;
    width: 100%;
}
.logo{
     position: absolute;     
     width: 190px;
     left: 13%;
     padding-top: 19px;
     
}
.login_form{
    display: flex;
    position: absolute;
    left:58%;
    top: 20px;
}
.email{
    padding-right: 15px;
}
.password
{
    padding-right: 15px;
}
.font{
    font-size: 13px;
    color: white;
    padding-bottom: 4px;
}
.login_btn
{
 height: 24px;
 width: 50px;
 font-weight: 600;
 margin-top: 18px;
 border-radius: 2px;
 color: white;
 background-color: #2d5bba;
}
.login_btn:hover
{
    background-color: #385998;
}

.section1
{
    height: 85vh;
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.left_container
{
    width: 50%;
    text-align: center;
    margin: auto;
}
.right_container
{
    width: 50%;
}
.font1
{
    color:#5584AC;
   
}
.font2
{
    font-size: medium;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.font3
{
    font-size: 37px;
    font-weight: lighter;
}
.font4
{
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: lighter;
    
}
.name
{
    height: 30px;
    width: 100px;
}
.name2
{
    height: 30px;
    width: 200px;
}
.text
{
    color: black;
}

.button_div
{
    text-align: center;
    
}
.btn1
{
    background-color: green;
    padding: 12px 35px;
    color: #FFF;
    
}